@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root{
    --font-family-default: 'Inter', sans-serif;
    --primary: #12263A;
    --cta: #12DC8B;
    --icon-size: calc(20px + 1.2vw);
    --target-icon-size: calc(20px + .9vw);
    --spacing-sm: calc(1rem + .2vw);
    --spacing-md: calc(1rem + 1vw);
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-36: 36px;
    --padding-btn-add: calc(calc(var(--spacing-16)/2) + .55vw);
}
body{
    font-family: var(--font-family-default);
    font-size: calc(1rem + .1vw);
}
/*---------------------------------------------*\
    #HEADER
\*---------------------------------------------*/
.header {
    background-color: var(--primary);
    color: white;
    padding: var(--spacing-sm) var(--spacing-md);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
}
.header svg{
    fill: white;
    height: var(--icon-size);
    width: var(--icon-size);
}
.header_nav{
    display: none;
    gap: calc(var(--spacing-12) + 1vw);
    justify-content: center;
}
.header .target{
    fill: none;
    width: var(--target-icon-size);
    height: var(--target-icon-size);
}
.header_account{
    display: flex;
    justify-content: end;
    align-items: center;
    gap: var(--spacing-12);
    text-align: end;
}

/*---------------------------------------------*\
    #FOOTER
\*---------------------------------------------*/
.footer{
    color: white;
    background-color: var(--primary);
    position: absolute;
    bottom: 0; right: 0;
    padding: var(--spacing-sm) var(--spacing-md);
    display: flex;
    justify-content: space-between;    
}
.footer address{
    margin-bottom: 0;
}
.footer a[rel="author"]{
    color: var(--cta);
}
.footer a[rel="author"]:hover{
    color: #0d6efd;
}
/*---------------------------------------------*\
    #MOBILE-MENU
\*---------------------------------------------*/
.mobile-menu{
    padding: var(--spacing-16);
    background-color: var(--primary);
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 0; right: 0;
    text-align: center;
    width: 100%;
}
.mobile-menu svg{
    fill: white;
    height: calc(var(--icon-size) + 2px);
    width: calc(var(--icon-size) + 2px);
}
.mobile-menu .target{
    fill: none;
    width: var(--target-icon-size);
    height: var(--target-icon-size);
}
.mobile-menu_add{
    background-color: var(--cta);
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 50%;
    height: 56px;
    width: 56px;
    text-align: center;
    line-height: 50px;
    font-size: 1.5rem;
    position: absolute;
    bottom: 50%; right: var(--spacing-16);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
}
.mobile-menu_add:hover{
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/*---------------------------------------------*\
    #DASHBOARD
\*---------------------------------------------*/
.dashboard{
    margin-top: calc(1rem + 3vw);
}
.dashboard_add a{
    color:white;
    text-decoration: none;
    display: inline-block;
    padding: var(--padding-btn-add) calc(var(--padding-btn-add) * 2);
    background-color: var(--cta);
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.25);
}